body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 20px 0;
}

header .row {
    display: flex;
    justify-content: space-between;
}

main {
    background-color: #7FFFD4;
    flex-grow: 1;
}

main .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
}